@{
    ViewData["Title"] = "Home Page";
}
<div class="background">
    <h1> We are here to help you crack your exam on first attempt ! Learn and complete the test to fully prepared to face the exam !</h1>
</div>
<div class="background">
    <div class="transbox">
        <div ><p><a  asp-area="Customer" asp-controller="Study" asp-action="Index">Study Signs</a></p></div>
        @*<div ><p>Study Rules</p></div>*@
        <div ><p><a asp-area="Customer" asp-controller="Quiz" asp-action="Index">Test Your Knowledge ...</a></p></div>
        @*<div><p>Test Rules</p></div>*@

    </div>
</div>
